<!DOCTYPE html>
<html>
<head>
    <title>Cookies Kitchen</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
           <a class="navbar-brand">Cookies Kitchen</a>
        </div> 




    </div>
</nav>