<%- include ("partials/header") %>
<h1 style="text-align:center;">Wilkommen!</h1>

<div class="container-md">
  <div class="flex-column justify-content-center align-items-center">
      <form>
          <input class="form-control" type="text" name="username" placeholder="Username">
          <input class="form-control" type="password" name="password" placeholder="Password">


        <button class="btn btn-lg btn-success">Log In</button>
      </form>





  </div>

</div>
<%- include ("partials/footer") %>