<%- include ("partials/header") %>

<div class="albums"> 
     <div class="alb_single">
     <img class="artwork" src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/spaghetti-puttanesca_1.jpg">
        <div class="details">
            <h3>Pasta with Tuna</h3>
            <p class="desc">Tuna tuna tuna tuna</p>
            <p class="desc2">Tuna tuna tuna tuna</p>
        
    
</div>
</div>
</div>

<div class="albums"> 
    <div class="alb_single">
    <img class="artwork" src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/spaghetti-puttanesca_1.jpg">
       <div class="details">
           <h3>Pasta with Tuna</h3>
           <p class="desc">Tuna tuna tuna tuna</p>
           <p class="desc2">Tuna tuna tuna tuna</p>
       
   
</div>
</div>
</div>

<div class="albums"> 
    <div class="alb_single">
    <img class="artwork" src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/spaghetti-puttanesca_1.jpg">
       <div class="details">
           <h3>Pasta with Tuna</h3>
           <p class="desc">Tuna tuna tuna tuna</p>
           <p class="desc2">Tuna tuna tuna tuna</p>
       
   
</div>
</div>
</div>

<div class="albums"> 
    <div class="alb_single">
    <img class="artwork" src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/spaghetti-puttanesca_1.jpg">
       <div class="details">
           <h3>Pasta with Tuna</h3>
           <p class="desc">Tuna tuna tuna tuna</p>
           <p class="desc2">Tuna tuna tuna tuna</p>
       
   
</div>
</div>
</div>

<style>
.albums{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.alb_single{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    align-items: center;
    color: black;
    font-weight: 100;
}
.artwork{
    width: 100%;
}


</style>

<!-- <div class="row">
<div class="container-md">
    <div class="col-md-4 col-sm-5 mt-2 mb-2">
        <div class="thumbnail">
            <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/spaghetti-puttanesca_1.jpg" class="img-thumbnail rounded">
        <div class="caption text-center">
            <h5>Pasta with Tuna</h5>
        </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-5 mt-2 mb-2">
        <div class="thumbnail">
            <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/spaghetti-puttanesca_1.jpg" class="img-thumbnail rounded">
        <div class="caption text-center">
            <h5>Pasta with Tuna</h5>
        </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-5 mt-2 mb-2">
        <div class="thumbnail">
            <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/spaghetti-puttanesca_1.jpg" class="img-thumbnail rounded">
        <div class="caption text-center">
            <h5>Pasta with Tuna</h5>
        </div>
    </div>
    </div>

</div>
</div> -->




<%- include ("partials/footer") %>