<%- include ("partials/header") %>
<div class="row">
<div class="container-md">
    <div class="col-md-4 col-sm-5 mt-2 mb-2">
        <div class="thumbnail">
            <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/spaghetti-puttanesca_1.jpg" class="img-thumbnail rounded">
        <div class="caption text-center">
            <h5>Pasta with Tuna</h5>
        </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-5 mt-2 mb-2">
        <div class="thumbnail">
            <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/spaghetti-puttanesca_1.jpg" class="img-thumbnail rounded">
        <div class="caption text-center">
            <h5>Pasta with Tuna</h5>
        </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-5 mt-2 mb-2">
        <div class="thumbnail">
            <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/spaghetti-puttanesca_1.jpg" class="img-thumbnail rounded">
        <div class="caption text-center">
            <h5>Pasta with Tuna</h5>
        </div>
    </div>
    </div>

</div>
</div>




<%- include ("partials/footer") %>